@media all {

	.pokedex
	{
		width: 100vw;
		height: 100vh;
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

// @media handheld and (orientation:portrait), (max-width:768px) {

// 	.pokedex
// 	{
// 		width: 400px;
// 	}

// 	.logo
// 	{
// 		width: 281px;
// 		height: 99px;
// 		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/200653/logo.png') no-repeat left top;
// 		z-index: 1;

// 		position: absolute;
// 		top: 220px;
// 		left: 30px;
// 	}

// 	.left
// 	{
// 		width: 400px;
// 		height: 500px;
// 		float: left;
// 		position: relative;
// 		z-index: 1;
// 		margin: 0 auto;
// 	}

// 	.curve1_left
// 	{
// 		width: 201px;
// 		height: 85px;
// 		background-color: #8b0000;
// 		float: left;
// 		padding: 15px 0 0 15px;

// 		position: absolute;
// 		top: 0;
// 		left: 0;

// 		box-shadow: 0 0 #5e0000;
// 		-webkit-box-shadow: 0 0 #5e0000;
// 		-moz-box-shadow: 0 0 #5e0000;
// 		-o-box-shadow: 0 0 #5e0000;

// 		border-bottom-right-radius: 85px 60px;
// 		-webkit-border-bottom-right-radius: 85px 60px;
// 		-moz-border-bottom-right-radius: 85px 60px;
// 		-o-border-bottom-right-radius: 85px 60px;

// 		border-top-left-radius: 30px;
// 		-webkit-border-top-left-radius: 30px;
// 		-moz-border-top-left-radius: 30px;
// 		-o-border-top-left-radius: 30px;
// 	}

// 	.bg_curve1_left
// 	{
// 		width: 400px;
// 		height: 80px;
// 		background-color: #8b0000;

// 		box-shadow: -10px 9px #5e0000;
// 		-webkit-box-shadow: -10px 9px #5e0000;
// 		-moz-box-shadow: -10px 9px #5e0000;
// 		-o-box-shadow: -10px 9px #5e0000;

// 		border-top-left-radius: 30px;
// 		-webkit-border-top-left-radius: 30px;
// 		-moz-border-top-left-radius: 30px;
// 		-o-border-top-left-radius: 30px;
// 	}

// 	.right, .screen, .bigbluebutton, .barbutton1, .barbutton2, .cross
// 	{
// 		display: none;
// 	}

// }