.left
	{
		width: 540px;
		height: 675px;
		float: left;
		position: relative;
		z-index: 1;
	}

.curve1_left
	{
		width: 271.35px;
		height: 114.75px;
		background-color: #8b0000;
		float: left;
		padding: 20.25px 0 0 20.25px;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: -13.5px 12.15px #5e0000;
		border-bottom-right-radius: 114.75px 81px;
		border-top-left-radius: 40.5px;
	}


.bg_curve1_left
	{
		width: 540px;
		height: 108px;
		background-color: #8b0000;
		border-top-left-radius: 40.5px;
	}

.curve2_left
	{
		width: 291.6px;
		height: 608.85px;
		background-color: #c00d0d;
		float: right;
		position: absolute;
		bottom: 0;
		right: 0;
		border-top-left-radius:114.75px 81px;

	}

.bg_curve2_left
	{
		width: 540px;
		height: 567px;
		background-color: #c00d0d;
		box-shadow: -13.5px 12.15px #5e0000;
		border-bottom-left-radius: 40.5px;
	}

.buttonGlass
	{
		width: 81px;
		height: 81px;
		margin-right: 20.25px;
		border: 6.75px solid #fff;
		float: left;
		box-shadow: 0 0 13.5px #490000;
		background: radial-gradient(#05fbfb, #29abe3);
		border-radius: 47.25px;
	}

.reflect
	{
		width: 40.5px;
		height: 24.3px;
		margin: 4.05px 0 0 20.25px;
		background: #fff;
		opacity: 0.6;
		border-radius: 20.25px 9px;
	}

.miniButtonGlassLeft
	{
		width: 27px;
		height: 27px;
		margin-right: 13.5px;
		float: left;
		box-shadow: 0 0 10px #490000;
		border-radius: 27px;
	}

.miniButtonGlass1
	{
		background: radial-gradient(#fb7b7b, #fb0505);
	}

.miniButtonGlass2
	{
		background: radial-gradient(#fbfb9b, #fbfb05);
	}

.miniButtonGlass3
	{
		background: radial-gradient(#b0fb7b, #50fb05);
	}

.junction
	{
		width: 81px;
		height: 608.85px;
		float: right;
		background: linear-gradient(to left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);	
	}

.junction1
	{
		height: 54px;
		background-color: #5e0000;
		opacity: 0.3;
		margin-top: 67.5px;
		margin-bottom: 353.7px;
		border-top: 2.7px solid #330000;
		border-bottom: 2.7px solid #330000;
	}

.junction2
	{
		height: 54px;
		background-color: #5e0000;
		opacity: 0.3;
		border-top: 2.7px solid #330000;
		border-bottom: 2.7px solid #330000;
	}

.screen
	{
		height: 330.75px;
		width: 351px;
		padding: 0 27px;
		background-color: #b0b0b0;
		float:left;
		position: absolute;
		top: 175.5px;
		left: 25.65px;
		border-radius: 20.25px;
	}

.screen:after
	{
		content: "";
		border-top: 54px solid #b0b0b0;
		border-left: 54px solid #c00d0d;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
	}

.picture
	{
		height: 236.25px;
		width: 342.9px;
		margin-top: 27px;
		margin-bottom: 12.15px;
		background-color: #fff;
		border: 4.05px solid #494949;
		clear: both;
		border-radius: 20.25px;
	}

.picture img
	{
		display: block;
		margin: 0 auto;
	}

.topPicture
	{
		margin: 8.1px auto;
		width: 54px;
	}

.buttontopPicture1, .buttontopPicture2
	{
		height: 10.8px;
		width: 10.8px;
		background-color: #c00d0d;
		border: 1.35px solid #000;
		float: left;
		border-radius: 20.25px;
	}

.buttontopPicture1
	{
		margin-right: 27px;
	}

.buttonbottomPicture
	{
		height: 35.1px;
		width: 35.1px;
		background-color: #c00d0d;
		margin-left: 47.25px;
		float: left;
		border-radius: 40.5px;
		box-shadow: -2.7px 1.35px #5e0000;
		background: linear-gradient(to top, #c00d0d 0%, #8b0000 80%);	
	}

.speakers
	{
		float: right;
		width: 101.25px;
		height: 33.75px;
		margin-right: 27px;
	}

.sp
	{
		height: 4.05px;
		margin-bottom: 6.75px;
		background-color: #494949;
		border-radius: 40.5px;
	}

.bigbluebutton
	{
		height: 67.5px;
		width: 67.5px;
		background-color: #000;
		position: absolute;
		top: 533.25px;
		left: 40.5px;
		border-radius: 135px;
		background: linear-gradient(to top, #307bfb 0%, #0530e5 80%);	
		box-shadow: -4.05px 2.7px #001c91;
	}

.barbuttonLeft
	{
		height: 17.55px;
		width: 67.5px;
		position: absolute;
		top: 546.75px;
		border-radius: 135px;
	}

.barbutton1
	{
		left: 135px;
		background: linear-gradient(to top, #50fb05 0%, #057b05 100%);	
		box-shadow: -1.35px 2.7px #004200;
	}

.barbutton2
	{
		left: 222.75px;
		background: linear-gradient(to top, #fb6505 0%, #bb0505 100%);	
		box-shadow: -1.35px 2.7px #7b0000;
	}

.cross
	{
		width: 121.5px;
		height: 121.5px;
		position: absolute;
		top: 531.9px;
		left: 310.5px;
	}

.crosses
	{
		width: 40.5px;
		height: 40.5px;
		background-color: #222;
		position: absolute;
		box-shadow: -4.05px 2.7px #010101;
		border-top-left-radius: 6.75px;
		border-top-right-radius: 6.75px;

	}

.topcross
	{
		top: 0;
		left: 40.5px;
	}

.leftcross
	{
		z-index: 1;
		left: 0;
		top: 40.5px;
	}

.midcross
	{
		width: 40.5px;
		height: 40.5px;
		background-color: #222;
		position: absolute;
		top: 40.5px;
		left: 40.5px;
		box-shadow: -4.05px 2.7px #010101;

	}

.rightcross
	{
		top: 40.5px;
		right: 0;
	}

.botcross
	{
		bottom: 0;
		left: 40.5px;
	}

.t 
	{
		width: 0;
		height: 0;
		position: absolute;
	}

.upT
	{
		border-left: 13.5px solid transparent;
		border-right: 13.5px solid transparent;
		border-bottom: 13.5px solid #111;
		top: 6.75px;
		left: 5.4px;
	}

.downT
	{
		border-left: 13.5px solid transparent;
		border-right: 13.5px solid transparent;
		border-top: 13.5px solid #111;
		bottom: 6.75px;
		left: 5.4px;
	}

.leftT
	{
		border-top: 13.5px solid transparent;
		border-right: 13.5px solid #111;
		border-bottom: 13.5px solid transparent;
		top: 6.75px;
		left: 5.4px;
	}

.rightT
	{
		border-top: 13.5px solid transparent;
		border-left: 13.5px solid #111;
		border-bottom: 13.5px solid transparent;
		top: 6.75px;
		right: 6.75px;
	}

.midCircle
	{
		width: 27px;
		height: 27px;
		position: absolute;
		top: 6.75px;
		left: 5.4px;
		border-radius: 40.5px;
		background: radial-gradient(#111, #222);
	} 