.Pokemons {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.pokemonCard {
    margin: 0 10px;
    max-height: 85px;

    .pokemon {
        width: 65px;
        height: 65px;
    }
    .pokemonName {
        text-transform: capitalize;
        font-size: 12px;
    }

}